@model PartiuAcademia.Core.Entities.State

@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>

@if (TempData["msgErro"] != null)
{
    @TempData["msgErro"]
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>State</h4>
        <hr />
        @Html.ValidationSummary(true)

        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sigla, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sigla)
                @Html.ValidationMessageFor(model => model.Sigla)
            </div>
        </div>
    </div>
    <button type="submit"> Cadastrar</button>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
