<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademiaOn - @ViewBag.Title</title>
 
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link href="~/Content/Ace/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Ace/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/Ace/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/Ace/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Content/Ace/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Content/Ace/css/ace-ie.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Scripts/Ace/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Scripts/Ace/html5shiv.js"></script>
    <script src="~/Scripts/Ace/respond.js"></script>
    <![endif]-->

</head>

<body class="no-skin">

    @*<div id="navbar" class="navbar navbar-default">*@
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="/Home" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Academia ON
                    </small>
                </a>
            </div>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Academias", "Gym", "Home")</li>
                    <li>@Html.ActionLink("Modalidades", "Modality", "Home")</li>
                    <li>@Html.ActionLink("Promoções", "Promotion", "Home")</li>
                    <li>@Html.ActionLink("Social", "Index", "Social")</li>
                    <li>@Html.ActionLink("Sistema", "Index", "System")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div><!-- /.navbar-container -->
    </div>
    
    <!-- /section:basics/navbar.layout -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    
                    @RenderBody()

                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">

                    <div class="row">
                        
                        <div class="col-md-6">
                            <span class="green bolder">@Html.ActionLink("Sobre", "About", "Home")</span>
                            &nbsp;|&nbsp;
                            <span class="orange bolder">@Html.ActionLink("Suporte / Contato", "Contact", "Home")</span>
                            &nbsp;|&nbsp;
                            <span class="action-buttons">
                                <a href="#">
                                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                                </a>

                                <a href="#">
                                    <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                                </a>

                                <a href="#">
                                    <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                                </a>
                            </span>
                        </div>                        
                        <div class="col-md-6">
                            <span class="green bolder">Academia ON</span> © Copyright  2015 - <span class="orange bolder">J3</span> Ltda.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../Scripts/Ace/jquery.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='../Scripts/Ace/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Scripts/Ace/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="~/Scripts/Ace/bootstrap.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="~/Scripts/Ace/excanvas.js"></script>
    <![endif]-->
    <script src="~/Scripts/Ace/jquery-ui.custom.js"></script>
    <script src="~/Scripts/Ace/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/Ace/jquery.easypiechart.js"></script>
    <script src="~/Scripts/Ace/jquery.sparkline.js"></script>
    <script src="~/Scripts/Ace/flot/jquery.flot.js"></script>
    <script src="~/Scripts/Ace/flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/Ace/flot/jquery.flot.resize.js"></script>

    <!-- ace scripts -->
    <script src="~/Scripts/Ace/ace/elements.scroller.js"></script>
    <script src="~/Scripts/Ace/ace/elements.colorpicker.js"></script>
    <script src="~/Scripts/Ace/ace/elements.fileinput.js"></script>
    <script src="~/Scripts/Ace/ace/elements.typeahead.js"></script>
    <script src="~/Scripts/Ace/ace/elements.wysiwyg.js"></script>
    <script src="~/Scripts/Ace/ace/elements.spinner.js"></script>
    <script src="~/Scripts/Ace/ace/elements.treeview.js"></script>
    <script src="~/Scripts/Ace/ace/elements.wizard.js"></script>
    <script src="~/Scripts/Ace/ace/elements.aside.js"></script>
    <script src="~/Scripts/Ace/ace/ace.js"></script>
    <script src="~/Scripts/Ace/ace/ace.ajax-content.js"></script>
    <script src="~/Scripts/Ace/ace/ace.touch-drag.js"></script>
    <script src="~/Scripts/Ace/ace/ace.sidebar.js"></script>
    <script src="~/Scripts/Ace/ace/ace.sidebar-scroll-1.js"></script>
    <script src="~/Scripts/Ace/ace/ace.submenu-hover.js"></script>
    <script src="~/Scripts/Ace/ace/ace.widget-box.js"></script>
    <script src="~/Scripts/Ace/ace/ace.settings.js"></script>
    <script src="~/Scripts/Ace/ace/ace.settings-rtl.js"></script>
    <script src="~/Scripts/Ace/ace/ace.settings-skin.js"></script>
    <script src="~/Scripts/Ace/ace/ace.widget-on-reload.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            
            //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
            //but sometimes it brings up errors with normal resize event handlers
            $.resize.throttleWindow = false;
            

            /////////////////////////////////////
            $(document).one('ajaxloadstart.page', function (e) {
                $tooltip.remove();
            });
            
            //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
            //so disable dragging when clicking on label
            var agent = navigator.userAgent.toLowerCase();
            if ("ontouchstart" in document && /applewebkit/.test(agent) && /android/.test(agent))
                $('#tasks').on('touchstart', function (e) {
                    var li = $(e.target).closest('#tasks li');
                    if (li.length == 0) return;
                    var label = li.find('label.inline').get(0);
                    if (label == e.target || $.contains(label, e.target)) e.stopImmediatePropagation();
                });

        })
    </script>
    <!-- the following scripts are used in demo only for onpage help and you don't need them -->
    <link rel="stylesheet" href="~/Content/Ace/css/ace.onpage-help.css" />
    <link rel="stylesheet" href="~/Content/Ace/css/themes/sunburst.css" />

    <script type="text/javascript"> ace.vars['base'] = '..'; </script>
    <script src="~/Scripts/Ace/ace/elements.onpage-help.js"></script>
    <script src="~/Scripts/Ace/ace/ace.onpage-help.js"></script>
    <script src="~/Scripts/Ace/js/rainbow.js"></script>
    <script src="~/Scripts/Ace/js/language/generic.js"></script>
    <script src="~/Scripts/Ace/js/language/html.js"></script>
    <script src="~/Scripts/Ace/js/language/css.js"></script>
    <script src="~/Scripts/Ace/js/language/javascript.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
